.app{
  text-align: center;
  margin: 13% auto;
}

.title{
  font-size: 40px;
  margin: 10px 0;
}

.app .form-group input,
.app button{
  margin-right: 10px;
}

.app *,
.app .list-group-item{
  border-radius: 0;
}

.app .list-group{
  left: 23%;
  width: 54.5%;
  margin-top:20px;
}

.app .list-group-item{
  text-align: left;
}

.app .remove-icon{
  float: right;
  cursor: pointer;
}
